*{
    margin: 0;
    padding: 0;
    text-align: center;
}

h1{
    background-color: #081b31;
    color: #fff;
    height: 5rem;
    line-height: 5rem; /*to align text to vertically center*/
}
.choices{
    height: 200px;
    width: 100vw;
    
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    
   
    
}
#rock{
    background-color: #5ad15e;
}
#paper{
    background-color: #b47b67;
}
#scissors{
    background-color: rgb(106, 185, 219);
}
.choice{
    height: 100px;
    width: 100px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    
}
.choice:hover{
    opacity: 80%;
    cursor: pointer;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    background-color: #9da9b8;
    gap: 2rem;
    
    
}
#user,#comp{
    font-size: 4rem;
}
.msg-container{
    margin-top: 2rem;
}
#msg{
    display: inline;
    background-color: rgb(85, 123, 48);
    font-size: 2rem;
    padding: 1rem;
    border-radius: 8px;
}
footer{
    background-color: #081b31;
    color: #fff;
    height: 5rem;
    line-height: 5rem;
    position: fixed;
    bottom: 0;
    width: 100vw;
}
